#landing-animation-container {
  padding: 0;
  margin: 0;
  width: 100%;
  max-width: 1700px;
  height: 750px;
  position: fixed;
  z-index: -1;
  bottom: -42vh;

  & canvas {
    width: 100% !important;
    height: 100% !important;
  }
}
