$COLOR_GRAY_100: #18181A;
$COLOR_GRAY_80: #323236;
$COLOR_GRAY_60: #686970;
$COLOR_GRAY_40: #9697A0;
$COLOR_GRAY_30: #D2D2D8;
$COLOR_GRAY_20: #EEEEF4;
$COLOR_GRAY_10: #F5F6FA;
$COLOR_GRAY_0: #FFFFFF;
$COLOR_BACKGROUND: #F6F8FA;
$COLOR_BLACK: #141414;

$COLOR_BLUE_PRIMARY: #2A02FF;
$COLOR_BLUE_SECONDARY: #EDEEFC;

$COLOR_PURPLE_PRIMARY: #954AC7;
$COLOR_PURPLE_SECONDARY: #F7EEFD;

$COLOR_SYSTEM_RED_PRIMARY: #E83838;
$COLOR_SYSTEM_RED_SECONDARY: #F6D8D8;

$COLOR_SYSTEM_YELLOW_PRIMARY: #DCA33B;
$COLOR_SYSTEM_YELLOW_SECONDARY: #FAF4D6;

$COLOR_SYSTEM_GREEN_PRIMARY: #17B367;
$COLOR_SYSTEM_GREEN_SECONDARY: #ECFDEE;
