// Font connecting
@font-face {
  font-family: 'PP Neue Montreal';
  src: url('../../assets/fonts/NeueMontreal-Bold.otf') format('opentype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'PP Neue Montreal';
  src: url('../../assets/fonts/PPNeueMontreal-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'PP Neue Montreal';
  src: url('../../assets/fonts/NeueMontreal-Regular.otf') format('opentype');
  font-weight: 450;
  font-style: normal;
}

@font-face {
  font-family: 'PP Neue Montreal';
  src: url('../../assets/fonts/PPNeueMontreal-Book.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

// Font Family
$FONT_FAMILY: 'PP Neue Montreal', sans-serif;

// Font sizes
$FONT_SIZE_INPUT: 14px;
$FONT_SIZE_PRIMARY: 16px;
$FONT_SIZE_BODY: 18px;
$FONT_SIZE_SUBTITLE_SMALL: 24px;
$FONT_SIZE_SUBTITLE_LARGE: 32px;
$FONT_SIZE_TITLE_4: 40px;
$FONT_SIZE_TITLE_3: 56px;
$FONT_SIZE_TITLE_2: 72px;
$FONT_SIZE_TITLE_1: 120px;

// Font weights
$FONT_WEIGHT_BOOK: 400;
$FONT_WEIGHT_REGULAR: 450;
$FONT_WEIGHT_MEDIUM: 500;
$FONT_WEIGHT_BOLD: 800;

// Line heights
$LINE_HEIGHT_TINY: 20px;
$LINE_HEIGHT_SMALL: 50px;
$LINE_HEIGHT_MIDDLE: 100%;
$LINE_HEIGHT_LARGE: 108%;
$LINE_HEIGHT_GIANT: 130%;
$LINE_HEIGHT_PRIMARY: 140%;

// Letter spacing
$LETTER_SPACING_PRIMARY: 0;
$LETTER_SPACING_SECONDARY: -0.5px;

// typography mixins
// TODO - remove after code refactor
@mixin typography($size, $weight, $lineHeight, $letterSpacing: 0) {
  font-family: $FONT_FAMILY;
  font-size: $size;
  font-weight: $weight;
  line-height: $lineHeight;
  letter-spacing: $letterSpacing;
}

@mixin titleHero {
  font-family: $FONT_FAMILY;
  font-size: 120px;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: 0;
}

@mixin title2 {
  font-family: $FONT_FAMILY;
  font-size: 72px;
  font-weight: 500;
  line-height: 108%;
  letter-spacing: -0.5px;
}

@mixin title3 {
  font-family: $FONT_FAMILY;
  font-size: 56px;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: 0;
}

@mixin title4 {
  font-family: $FONT_FAMILY;
  font-size: 40px;
  font-weight: 400;
  line-height: 50px;
  letter-spacing: 0;
}

@mixin subtitle {
  font-family: $FONT_FAMILY;
  font-size: 32px;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: 0;
}

@mixin subtitle2 {
  font-family: $FONT_FAMILY;
  font-size: 24px;
  font-weight: 500;
  line-height: 140%;
  letter-spacing: 0;
}

@mixin subtitle3 {
  font-family: $FONT_FAMILY;
  font-size: 24px;
  font-weight: 800;
  line-height: 140%;
  letter-spacing: 0;
}

@mixin subheading {
  font-family: $FONT_FAMILY;
  font-size: 24px;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 0;
}

@mixin bodyText {
  font-family: $FONT_FAMILY;
  font-size: 18px;
  font-weight: 500;
  line-height: 130%;
  letter-spacing: 0;
}

@mixin buttonText {
  font-family: $FONT_FAMILY;
  font-size: 18px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0;
}

@mixin secondary {
  font-family: $FONT_FAMILY;
  font-size: 16px;
  font-weight: 500;
  line-height: 140%;
  letter-spacing: 0;
}

@mixin inputText {
  font-family: $FONT_FAMILY;
  font-size: 14px;
  font-weight: 450;
  line-height: 140%;
  letter-spacing: 0;
}

@mixin inputText2 {
  font-family: $FONT_FAMILY;
  font-size: 14px;
  font-weight: 500;
  line-height: 140%;
  letter-spacing: 0;
}
