@use '../../styles/colors.scss' as colors;
@use '../../styles/typography.scss' as typography;

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;

  padding: 16px 32px;
  width: 100%;

  background-color: colors.$COLOR_GRAY_100;
  border: 2px solid colors.$COLOR_GRAY_100;
  border-radius: 4px;

  cursor: pointer;

  color: colors.$COLOR_GRAY_0;
  @include typography.typography(
    typography.$FONT_SIZE_PRIMARY,
    typography.$FONT_WEIGHT_MEDIUM,
    typography.$LINE_HEIGHT_MIDDLE,
    0,
  );

  transition:
          box-shadow 0.2s ease-in-out,
          border-color 0.2s ease-in-out;

  & > svg {
    width: 16px;
    height: 16px;

    path {
      stroke: colors.$COLOR_GRAY_0;
    }
  }

  &:hover {
    box-shadow: 1px 6px 17px rgba(20, 20, 20, 0.5);
  }

  &:active {
    border-color: colors.$COLOR_BLUE_PRIMARY;
    box-shadow: unset;
  }

  &:disabled {
    pointer-events: none;
    background-color: colors.$COLOR_GRAY_40;
    border-color: colors.$COLOR_GRAY_40;
  }

  &--secondary {
    background-color: transparent;
    border-color: colors.$COLOR_GRAY_40;
    border-width: 1px;
    color: colors.$COLOR_GRAY_100;

    & > svg > path {
      stroke: colors.$COLOR_GRAY_100;
    }

    &:hover {
      border-color: colors.$COLOR_GRAY_100;
      box-shadow: 0 0 20px 5px rgba(203, 204, 207, 0.6);
    }

    &:active {
      border-color: colors.$COLOR_GRAY_100;
      outline: 1px solid colors.$COLOR_GRAY_100;
      box-shadow: unset;
    }

    &:disabled {
      pointer-events: none;
      background-color: unset;
      color: colors.$COLOR_GRAY_40;
      border-color: colors.$COLOR_GRAY_30;

      & > svg > path {
        stroke: colors.$COLOR_GRAY_40;
      }
    }
  }

  &--small {
    width: unset;
    padding: 16px 16px;
  }
}
